@media screen and (max-width:991px)
.main{

}
.div1{
    border:2px salmon;
    display:inline-flex;
    font-size:1.8rem;
    margin-left:50px;
    margin-top:100px;
    flex-direction:column;
}
.image{
    display:inline-flex;
    position:absolute;
    margin-right:3rem 0;



}
.img1{
    height:auto;
    width:100%;
    margin-top:5rem;
    margin-left:1.8rem;
    border-radius:12px;
}